 <section class="ui segment">
  <div class="ui inverted padded five cards">

  <div class="primary card">
    <div class="content">
            <span class="ui blue text">
            <p><i class="right floated large tint icon"></i></p>
            <h2>{{station.name}}</h2>
            <p>Latitude : {{station.lat}}</p>
            <p>Longitude : {{station.lng}}</p>
            </span>
    </div>
  </div>

  <div class="ui red card">
    <div class="content">
            <span class="ui red text">
                <p><i class="right floated big {{station.iconClass}}"></i></p>
                <h3>Weather</h3>
                <p color="#DB2828">{{station.weatherCode}}</p>   
            </span>
    </div>
  </div>

  <div class="teal card">
    <div class="content">
            <span class="ui teal text">
                <p><i class="right floated big temperature high icon"></i></p>
                <h3>Temperature</h3>
                <p>{{station.latestReading.temp}} C </p>
              <p>{{station.fahrenheit}} F </p>
              <p>Min : {{station.minTemp}}</p>
              <p>Max : {{station.maxTemp}}</p>
                 <i class="right floated big {{station.tempArrow}}"></i>
            </span>
    </div>
  </div>

  <div class="olive card">
    <div class="content">
            <span class="ui olive text">
                <p><i class="right floated big wind icon"></i></p>
                <h3>Wind</h3>
                <div class="item">{{station.beaufort}} bft</div>
                <div class="item">{{station.windDirection}} </div></p>
                <p>          
              <div class="item">Feels Like : {{station.windChill}} </div></p>
              <p>Min : {{station.minWind}}</p>
              <p>Max : {{station.maxWind}}</p>
                 <i class="right floated big {{station.windArrow}}"></i>
             </span>
    </div>
  </div>

  <div class="purple card">
    <div class="content">
            <span class="ui purple text">
                <p><i class="right floated big tachometer alternate icon"></i></p>
                <h3>Pressure</h3>
                <p>{{station.latestReading.pressure}} hPa</p>
              <p>Min : {{station.minPressure}}</p>
              <p>Max : {{station.maxPressure}}</p>
                <i class="right floated big {{station.pressureArrow}}"></i>
            </span>
    </div>
  </div>

</div>


   